{% for host in play_hosts %}
{% if hostvars[host]['suspicious_interfaces'] is defined %}
Device: {{ host }}
{% for interface in hostvars[host]['suspicious_interfaces'] %}
  Interface: {{ interface.item.name }}
      MAC Address      |   VLAN
    ------------------------------------
{% for line in interface.stdout_lines[0] %}
{% if line | regex_search('^.*([a-f0-9]{4}\\.[a-f0-9]{4}\\.[a-f0-9]{4}).*$', '\\1', multiline=True) | select('string') | length > 0 %}
      {{ (line | regex_search('^.*([a-f0-9]{4}\\.[a-f0-9]{4}\\.[a-f0-9]{4}).*$', '\\1', multiline=True) | select('string'))[0] }}   |   {{ (line | regex_search('^ {0,3}([0-9]{1,4}).*$', '\\1', multiline=True) | select('string'))[0] }}
{# end if line is not empty test #}
{% endif %}
{# end for line in interface.stdout_lines[0] #}
{% endfor %}

{# end for interfaces in hostvars[host]['suspicious_interfaces'] #}
{% endfor %}
================================================================
{# end if hostvars[host]['suspicious_interfaces'] is defined #}
{% endif %}
{# end for host in play_hosts #}
{% endfor %}